$primary-color: #008080;
$secondary-color: #eeeeee;
$accent-color: #dfdfdf;
$background-color: #F5F5F5;
$text-color: #2F4F4F;
$font: "PT Sans", sans-serif;
$letter-spacing: 1.5px;
$font-weight: (
  "regular": 400,
  "bold": 700,
);
$card-width: 400px;