*, *::before, *::after {
  letter-spacing: 1.5px;
  font-family: "PT Sans", sans-serif;
  color: #2F4F4F;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container .input-container form button, .grid-container .systems button {
  background-color: #008080;
  color: #F5F5F5;
  border: none;
  padding: 10px 5px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
@media (hover: hover) and (pointer: fine) {
  .grid-container .input-container form button:hover, .grid-container .systems button:hover {
    background-color: #004d4d !important;
  }
}
.grid-container .input-container form button:active, .grid-container .systems button:active {
  box-shadow: none;
}

.grid-container .results-chart .obese, .grid-container .results-chart .over, .grid-container .results-chart .healthy, .grid-container .results-chart .under {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 15px 0;
}

.grid-container .results-chart .obese span, .grid-container .results-chart .over span, .grid-container .results-chart .healthy span, .grid-container .results-chart .under span {
  color: #F5F5F5;
  padding: 3px;
  border-radius: 4px;
  margin-right: 20px;
  width: 90px !important;
}

body {
  background-color: #F5F5F5;
}

.navbar {
  background-color: #008080;
}
@media (max-width: 1000px) {
  .navbar {
    display: grid;
    place-items: center;
    height: 150px;
  }
}
.navbar img {
  height: 100px;
  position: relative;
  left: 50px;
}
@media (max-width: 1000px) {
  .navbar img {
    left: 0;
    top: -30px;
  }
}
.navbar h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
  font-size: 26px;
  text-align: center;
  color: #F5F5F5;
}
@media (max-width: 1000px) {
  .navbar h1 {
    top: 90px;
  }
}

.grid-container {
  margin-top: 100px;
  display: grid;
  place-items: center;
}
.grid-container .systems {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  width: 400px;
}
@media (max-width: 430px) {
  .grid-container .systems {
    width: 330px;
  }
}
.grid-container .systems button {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.grid-container .input-container {
  background-color: #dfdfdf;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 25px 20px;
}
@media (max-width: 430px) {
  .grid-container .input-container {
    width: 330px;
  }
}
.grid-container .input-container form {
  background-color: #dfdfdf;
  display: grid;
}
.grid-container .input-container form label {
  background-color: #dfdfdf;
  margin: 10px 0 3px 0;
}
.grid-container .input-container form input {
  background-color: #F5F5F5;
  color: #2F4F4F;
  outline: none;
  border: none;
  padding: 5px 10px;
}
.grid-container .input-container form input::-webkit-outer-spin-button,
.grid-container .input-container form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.grid-container .input-container form button {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  margin-top: 20px;
}
.grid-container .results {
  margin-top: 50px;
  background-color: #dfdfdf;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 25px;
  text-align: center;
  width: 400px;
}
@media (max-width: 430px) {
  .grid-container .results {
    width: 330px;
  }
}
.grid-container .results-chart {
  display: grid;
  place-items: center;
  width: 100%;
}
.grid-container .results-chart .under span {
  background-color: rgb(255, 52, 255);
}
.grid-container .results-chart .healthy span {
  background-color: rgb(0, 161, 0);
}
.grid-container .results-chart .over span {
  background-color: rgb(255, 177, 32);
}
.grid-container .results-chart .obese span {
  background-color: rgb(247, 75, 75);
}/*# sourceMappingURL=main.css.map */